body {
  background-color: #acb992;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
  outline: none;
}

/* Reset de estilos para formularios e input */
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Normalización de estilos para input[type="button"], input[type="reset"], input[type="submit"] */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

/* Normalización de estilos para textarea */
textarea {
  overflow: auto;
}

/* Normalización de estilos para subrayados enlaces */
a {
  text-decoration: none;
}

input[type="checkbox"] {
  accent-color: #e9e5d6;
}
